<web-app>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>session.Servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/LoginProcess</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>session.Servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/LogoutProcess</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Notes</servlet-name>
		<servlet-class>session.Servlets.Notes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Notes</servlet-name>
		<url-pattern>/NotesProcess</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteUserNotes</servlet-name>
		<servlet-class>session.Servlets.NotesDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserNotes</servlet-name>
		<url-pattern>/NotesDelete</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>MysqlDriver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>MysqlUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/mydb?autoReconnect=true&amp;useSSL=false</param-value>
	</context-param>
	<context-param>
		<param-name>MysqlUsername</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>MysqlPassword</param-name>
		<param-value>mysql</param-value>
	</context-param>
	<welcome-file-list>  
		<welcome-file>LoginProcess</welcome-file>    
  	</welcome-file-list>  
</web-app>